.ProfileScreen {
  height: 100vh;
  color: white;
}
.ProfileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
.ProfileScreen__info {
  display: flex;
}

.ProfileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #202c2d;
  margin-bottom: 20px;
}
.ProfileScreen__info > img {
  height: 100px;
}
.ProfileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.ProfileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.ProfileScreen__singOut {
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #e50214e7;
  border-radius: 5px;
}
.ProfileScreen__singOut:hover {
  background-color: #e50214;
}

@media screen and (max-width: 699px) {
  .ProfileScreen__body > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 499px) {
  .ProfileScreen__body {
    width: unset;
  }
  .ProfileScreen__body > h1 {
    font-size: 30px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .ProfileScreen__info > img {
    height: 75px;
  }
  .ProfileScreen__singOut {
    width: 100%;
  }
  .ProfileScreen__info {
    margin: 0px 25px;
  }
}
